* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

header {
    padding: 1rem;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.mark-line{
    border: 1px solid rgba(128, 128, 128, 0.486);
    width: 40%;
    left: 10rem;
    margin-top: 0.5rem;
    position: absolute;
    z-index: 1000;
}
.nav-links {
    background: linear-gradient(to right, rgba(42, 42, 55, 0.8), rgba(42, 42, 49, 0.6));
    padding: 20px;
    border-radius: 5px 0px 0px 5px;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 1.7rem;
    right: 0;
    width: 50rem;
    z-index: 999;
}

.nav-items {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 8px;
    letter-spacing: 3px;
}
.nav-items strong{
    font-weight: 600;
}

.nav-items li a {
    color: white;
    text-decoration: none;
    font-family: 'Barlow Condensed', serif;
    font-weight: normal;
    font-size: 16px;
    margin-left: 4rem;
}