* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-image: url(../assets/destination/background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

header {
    padding: 1rem;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.mark-line{
    border: 1px solid rgba(128, 128, 128, 0.486);
    width: 40%;
    left: 10rem;
    margin-top: 0.5rem;
    position: absolute;
    z-index: 1000;
}
.nav-links {
    background: rgba(255, 255, 255, 0.3); /* Cor de fundo com transparência */
    backdrop-filter: blur(10px); /* Aplica o efeito de desfoque */
    -webkit-backdrop-filter: blur(10px);
    padding: 20px 20px 0 20px;
    border-radius: 5px 0px 0px 5px;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 1.7rem;
    right: 0;
    width: 50rem;
    z-index: 999;
}

.nav-items {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 8px 8px 0 8px;
    letter-spacing: 3px;
}
.nav-items strong{
    font-weight: 600;
}

.nav-items li a {
    position: relative;
}
a.nav-link{
    color: white;
    text-decoration: none;
    font-family: 'Barlow Condensed', serif;
    font-weight: normal;
    font-size: 16px;
    margin-left: 2rem;
    position: relative;
    padding-bottom: 19px;
}

.nav-items li a.nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    color: white;
}

.nav-items li a.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
a.nav-link:hover {
    color: white;
}
h1 {
    font-size: 2.5rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
  }
  
  p {
    font-size: 1.1rem;
    line-height: 1.6;
  }
  
  .nav-link.active {
    border-bottom: 2px solid #fff;
  }
  
  .nav-link {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5rem 1rem;
  }
  
  .nav-link:hover {
    color: #d0d6f9;
  }
  
  .moon-img img {
    max-width: 100%;
    height: auto;
  }